#footer {
    background-color: #e2edff;
    width: 100%;
    padding: 1.5rem 0;
    flex-shrink: 0;
}

#footer .footer-info {
    display: flex;
    justify-content: space-between;
}

#footer .footer-info > section {
    min-width: 25%;
}

#footer .footer-copyright {
    text-align: center;
    margin-top: 1.5rem;
}

#footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer h3 {
    margin-bottom: 0.4rem;
}
