$theme-primary: #017afc;
$theme-secondary: #e2edff;
$brightest-color: #ffffff;
$brighter-color: #f0f0f0;
$bright-color: #d0d0d0;
$medium-color: #909090;
$dark-color: #505050;
$darker-color: #303030;
$darkest-color: #000000;
$alert: #f00000;
