@import "Colors";

.admin {
    .admin-section {
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
    }

    .admin-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border: 1px dashed $bright-color;
        border-radius: 4px;
        margin: 0.25rem;
        min-width: 4rem;
        min-height: 4rem;
        text-align: center;
        box-sizing: border-box;
        background-position: center;
        background-size: cover;
        flex-shrink: 0;
        position: relative;

        &-delete {
            background-color: rgba($alert, 0.5);
            color: $brightest-color;
            position: absolute;
            z-index: 10;
            top: 0;
            right: 0;
            box-sizing: border-box;
            width: 1.5rem;
            height: 1.5rem;
            display: none;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
        }

        &:hover {
            cursor: pointer;
            border-color: $theme-primary;
            border-style: solid;
        }

        &:hover &-delete {
            display: flex;
        }
    }

    .admin-button {
        background-color: $theme-primary;
        border: 0;
        color: $brightest-color;
        font-size: 1rem;
        padding: 1rem;
        margin: 0.25rem;
        min-width: 4rem;
        min-height: 4rem;
        box-sizing: border-box;
        text-align: center;
        border-radius: 4px;
        display: inline-block;
        outline: none;
        transition: box-shadow 0.25s ease-out;

        &:hover {
            cursor: pointer;
            box-shadow: 0.5em 0.5em 0 0 mix($darkest-color, $theme-primary, 50);
        }
    }

    .form {
        text-align: left;

        img {
            width: 100%;
        }

        .input-wrapper {
            margin: 1rem 0;
        }

        &:first-child .input-wrapper:first-child {
            margin-top: 0;
        }
    }
}
