.admin .admin-section {
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.admin .admin-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    margin: 0.25rem;
    min-width: 4rem;
    min-height: 4rem;
    text-align: center;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    flex-shrink: 0;
}

.admin .admin-item:hover {
    cursor: pointer;
}

.admin .admin-button {
    background-color: #017afc;
    border: 0;
    color: white;
    font-size: 1rem;
    padding: 1rem;
    margin: 0.25rem;
    min-width: 4rem;
    min-height: 4rem;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    outline: none;
}

.admin .admin-button:hover {
    cursor: pointer;
}

.admin .form {
    text-align: left;
}

.admin .form .input-wrapper {
    margin: 1rem 0;
}

.admin .form:first-child .input-wrapper:first-child {
    margin-top: 0;
}
