#footer {
    background-color: #e2edff;
    width: 100%;
    padding: 1.5rem 0;
    flex-shrink: 0;
}

#footer .footer-info > section {
    min-width: 25%;
    margin-bottom: 1rem;
    box-sizing: border-box;
    padding-right: 1rem;
}

@media screen and (min-width: 700px) {
    #footer .footer-info {
        display: flex;
        justify-content: space-between;
    }

    #footer .footer-info > section {
        margin-bottom: 0;
    }
}

#footer .footer-copyright {
    text-align: center;
    margin-top: 1.5rem;
}

#footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
