@import "Colors";

.form {
    position: relative;
    text-align: center;

    .form-alert {
        color: $darkest-color;
        border: 1px solid $alert;
        min-width: 80px;
        margin: 1rem 0;
        padding: 10px 15px;
        border-radius: 4px;
        background-color: rgba($alert, 0.1);
        font-weight: 400;
        width: 100%;
        box-sizing: border-box;
        visibility: hidden;
        position: absolute;
        opacity: 0;
        text-align: left;
        transform: translateY(-25%);
        transition: visibility 0.25s ease, opacity 0.25s ease,
            transform 0.5s ease-in-out;

        &:not(:empty) {
            visibility: visible;
            opacity: 1;
            position: static;
            min-height: 2rem;
            transform: translateY(0);
        }
    }

    input,
    button,
    textarea {
        outline: none;
        font-family: "Roboto", sans-serif;
    }

    input[type="text"],
    input[type="password"],
    input[type="number"],
    textarea {
        background-color: $brightest-color;
        border: 1px solid $bright-color;
        border-radius: 5px;
        padding: 0.5rem;
        width: 100%;
        resize: none;
        box-sizing: border-box;

        &::placeholder {
            font-family: "Roboto", sans-serif;
            color: $medium-color;
        }

        &:focus,
        &:active {
            border-color: $theme-primary;
        }
    }

    textarea {
        height: 8rem;
    }

    .form-button-container button:first-child {
        margin-right: 1rem;
    }

    button {
        color: $brightest-color;
        background-color: $theme-primary;
        border: 0;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 0.5rem;
        min-width: 4rem;
        position: relative;
        transition: box-shadow 0.25s ease-out;

        &:hover {
            cursor: pointer;
            box-shadow: 0.5em 0.5em 0 0 mix($darkest-color, $theme-primary, 50);
        }

        &:disabled {
            background-color: mix($brightest-color, $theme-primary, 40);

            &:hover {
                cursor: default;
            }
        }
    }
}
