@import "Colors";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex-grow: 1;
    position: relative;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-weight: normal;
    background-color: $brightest-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.25em 0;
}

p {
    margin: 0 0 0.5em 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    color: $theme-primary;
}

h3 {
    text-transform: uppercase;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: $theme-primary;
}

address {
    font-style: normal;
}

figure {
    padding: 0;
    margin: 0;
}
