.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 600;
    align-items: center;
    justify-content: center;
    background-color: #e2edff90;
    box-sizing: border-box;
    padding: 1rem;
}

.popup-container .popup {
    max-width: 500px;
    width: 100%;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    background-color: #fff;
}

.popup-container .popup-title {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
}

.popup-container .popup-content {
    padding: 1rem;
}

.popup-container .button-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
}
